img {
  display: inline-block;
  max-width: 240px;
}

.bg-image {
  display: inline-block;
  width: 240px;
  height: 240px;
  background-position: center center;
  background-size: cover;
}

#background-image { background-image: url(http://i.imgur.com/Iv7jq1y.jpg); }
#local-background-image { background-image: url(../img/fox.css); }
